<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>禄命</title>


    <link href="vendor/json-viewer/jquery.json-viewer.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">




</head>
<body ng-app="app" >

<div ng-controller="myCtrl">

    <div class="container-fluid">


        <form role="form" ng-submit="analyze()">

            <div class="panel panel-default">
                <div class="panel-body">
                    <label >性别</label>
                    <select  ng-model="bazi.gender">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>


            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">四柱</div>

                <!-- Table -->
                <table class="table">
                    <!--<thead>-->
                    <!--<tr>-->
                    <!--<th>年柱</th>-->
                    <!--<th>月柱</th>-->
                    <!--<th>日柱</th>-->
                    <!--<th>时柱</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <tbody>
                    <tr>
                        <th class="row" scope="row">
                            <label >年干</label>
                            <select  ng-model="bazi.niangan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>
                            </select>
                        </th>
                        <td>
                            <label >月干</label>
                            <select ng-model="bazi.yuegan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>
                        <td>
                            <label >日干</label>
                            <select  ng-model="bazi.rigan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>
                        <td>
                            <label >时干</label>
                            <select ng-model="bazi.shigan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label >年支</label>
                            <select ng-model="bazi.nianzhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </th>
                        <td>
                            <label >月支</label>
                            <select ng-model="bazi.yuezhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                        <td>
                            <label >日支</label>
                            <select ng-model="bazi.rizhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                        <td>
                            <label >时支</label>
                            <select ng-model="bazi.shizhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--<th scope="row">3</th>-->
                    <!--<td>Larry</td>-->
                    <!--<td>the Bird</td>-->
                    <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">大运流年</div>

                <!-- Table -->
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <label >胎干</label>
                            <select ng-model="bazi.taigan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>
                        <td  >
                            <label >运干</label>
                            <select  ng-model="bazi.yungan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>
                            </select>
                        </td>
                        <td>
                            <label >流年干</label>
                            <select ng-model="bazi.liunianGan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>
                        <td>
                            <label >行年干</label>
                            <select  ng-model="bazi.xingnianGan">
                                <option value="甲">甲</option>
                                <option value="乙">乙</option>
                                <option value="丙">丙</option>
                                <option value="丁">丁</option>
                                <option value="戊">戊</option>
                                <option value="己">己</option>
                                <option value="庚">庚</option>
                                <option value="辛">辛</option>
                                <option value="壬">壬</option>
                                <option value="癸">癸</option>

                            </select>
                        </td>

                    </tr>
                    <tr>
                        <th >
                            <label >胎支</label>
                            <select ng-model="bazi.taizhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </th>
                        <td>
                            <label >运支</label>
                            <select ng-model="bazi.yunzhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                        <td>
                            <label >流年支</label>
                            <select ng-model="bazi.liunianZhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                        <td>
                            <label >行年支</label>
                            <select ng-model="bazi.xingnianZhi">
                                <option value="子">子</option>
                                <option value="丑">丑</option>
                                <option value="寅">寅</option>
                                <option value="卯">卯</option>
                                <option value="辰">辰</option>
                                <option value="巳">巳</option>
                                <option value="午">午</option>
                                <option value="未">未</option>
                                <option value="申">申</option>
                                <option value="酉">酉</option>
                                <option value="戌">戌</option>
                                <option value="亥">亥</option>
                            </select>
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--<th scope="row">3</th>-->
                    <!--<td>Larry</td>-->
                    <!--<td>the Bird</td>-->
                    <!--<td>@twitter</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
            <!--<div class="form-group">-->
                <!--<label >年干</label>-->
                <!--<select  class="form-control" ng-model="bazi.niangan">-->
                    <!--<option value="甲">甲</option>-->
                    <!--<option value="乙">乙</option>-->
                    <!--<option value="丙">丙</option>-->
                    <!--<option value="丁">丁</option>-->
                    <!--<option value="戊">戊</option>-->
                    <!--<option value="己">己</option>-->
                    <!--<option value="庚">庚</option>-->
                    <!--<option value="辛">辛</option>-->
                    <!--<option value="壬">壬</option>-->
                    <!--<option value="癸">癸</option>-->
                <!--</select>-->

            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >年干</label>-->
                        <!--<select  class="form-control" ng-model="bazi.niangan">-->
                            <!--<option value="甲">甲</option>-->
                            <!--<option value="乙">乙</option>-->
                            <!--<option value="丙">丙</option>-->
                            <!--<option value="丁">丁</option>-->
                            <!--<option value="戊">戊</option>-->
                            <!--<option value="己">己</option>-->
                            <!--<option value="庚">庚</option>-->
                            <!--<option value="辛">辛</option>-->
                            <!--<option value="壬">壬</option>-->
                            <!--<option value="癸">癸</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >月干</label>-->
                        <!--<select  class="form-control" ng-model="bazi.yuegan">-->
                            <!--<option value="甲">甲</option>-->
                            <!--<option value="乙">乙</option>-->
                            <!--<option value="丙">丙</option>-->
                            <!--<option value="丁">丁</option>-->
                            <!--<option value="戊">戊</option>-->
                            <!--<option value="己">己</option>-->
                            <!--<option value="庚">庚</option>-->
                            <!--<option value="辛">辛</option>-->
                            <!--<option value="壬">壬</option>-->
                            <!--<option value="癸">癸</option>-->
                        <!--</select>-->


                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >日干</label>-->
                        <!--<select  class="form-control" ng-model="bazi.rigan">-->
                            <!--<option value="甲">甲</option>-->
                            <!--<option value="乙">乙</option>-->
                            <!--<option value="丙">丙</option>-->
                            <!--<option value="丁">丁</option>-->
                            <!--<option value="戊">戊</option>-->
                            <!--<option value="己">己</option>-->
                            <!--<option value="庚">庚</option>-->
                            <!--<option value="辛">辛</option>-->
                            <!--<option value="壬">壬</option>-->
                            <!--<option value="癸">癸</option>-->
                        <!--</select>-->


                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >时干</label>-->
                        <!--<select  class="form-control" ng-model="bazi.shigan">-->
                            <!--<option value="甲">甲</option>-->
                            <!--<option value="乙">乙</option>-->
                            <!--<option value="丙">丙</option>-->
                            <!--<option value="丁">丁</option>-->
                            <!--<option value="戊">戊</option>-->
                            <!--<option value="己">己</option>-->
                            <!--<option value="庚">庚</option>-->
                            <!--<option value="辛">辛</option>-->
                            <!--<option value="壬">壬</option>-->
                            <!--<option value="癸">癸</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >年支</label>-->
                        <!--<select  class="form-control" ng-model="bazi.nianzhi">-->
                            <!--<option value="子">子</option>-->
                            <!--<option value="丑">丑</option>-->
                            <!--<option value="寅">寅</option>-->
                            <!--<option value="卯">卯</option>-->
                            <!--<option value="辰">辰</option>-->
                            <!--<option value="巳">巳</option>-->
                            <!--<option value="午">午</option>-->
                            <!--<option value="未">未</option>-->
                            <!--<option value="申">申</option>-->
                            <!--<option value="酉">酉</option>-->
                            <!--<option value="戌">戌</option>-->
                            <!--<option value="亥">亥</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >月支</label>-->
                        <!--<select  class="form-control" ng-model="bazi.yuezhi">-->
                            <!--<option value="子">子</option>-->
                            <!--<option value="丑">丑</option>-->
                            <!--<option value="寅">寅</option>-->
                            <!--<option value="卯">卯</option>-->
                            <!--<option value="辰">辰</option>-->
                            <!--<option value="巳">巳</option>-->
                            <!--<option value="午">午</option>-->
                            <!--<option value="未">未</option>-->
                            <!--<option value="申">申</option>-->
                            <!--<option value="酉">酉</option>-->
                            <!--<option value="戌">戌</option>-->
                            <!--<option value="亥">亥</option>-->
                        <!--</select>-->


                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >日支</label>-->
                        <!--<select  class="form-control" ng-model="bazi.rizhi">-->
                            <!--<option value="子">子</option>-->
                            <!--<option value="丑">丑</option>-->
                            <!--<option value="寅">寅</option>-->
                            <!--<option value="卯">卯</option>-->
                            <!--<option value="辰">辰</option>-->
                            <!--<option value="巳">巳</option>-->
                            <!--<option value="午">午</option>-->
                            <!--<option value="未">未</option>-->
                            <!--<option value="申">申</option>-->
                            <!--<option value="酉">酉</option>-->
                            <!--<option value="戌">戌</option>-->
                            <!--<option value="亥">亥</option>-->
                        <!--</select>-->


                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-3">-->
                    <!--<div class="form-group">-->
                        <!--<label >时支</label>-->
                        <!--<select  class="form-control" ng-model="bazi.shizhi">-->
                            <!--<option value="子">子</option>-->
                            <!--<option value="丑">丑</option>-->
                            <!--<option value="寅">寅</option>-->
                            <!--<option value="卯">卯</option>-->
                            <!--<option value="辰">辰</option>-->
                            <!--<option value="巳">巳</option>-->
                            <!--<option value="午">午</option>-->
                            <!--<option value="未">未</option>-->
                            <!--<option value="申">申</option>-->
                            <!--<option value="酉">酉</option>-->
                            <!--<option value="戌">戌</option>-->
                            <!--<option value="亥">亥</option>-->
                        <!--</select>-->

                    <!--</div>-->
                <!--</div>-->


            <!--</div>-->


            <!--<div class="row">-->
                <!--<div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>-->
                <!--<div class="col-xs-3 col-md-4">.col-xs-6 .col-md-4</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>-->
                <!--<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>-->
                <!--&lt;!&ndash; Optional: clear the XS cols if their content doesn't match in height &ndash;&gt;-->
                <!--<div class="clearfix visible-xs-block"></div>-->
                <!--<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>-->
            <!--</div>-->
            <!--<label class="checkbox-inline">-->
                <!--<input type="radio" name="gender" id="optionsRadios3" value="男" checked>男-->
            <!--</label>-->
            <!--<label class="checkbox-inline">-->
                <!--<input type="radio" name="gender" value="女" />女-->
            <!--</label>-->



            <!--<div class="row">-->
                <!--<div class="form-group">-->
                    <!--男:<input type="radio" checked="checked" name="gender" value="男" />-->
                <!--</div>-->

                <!--<div class="col-md-1">-->
                    <!--男:<input type="radio" checked="checked" name="gender" value="男" />-->
                <!--</div>-->
                <!--<div class="col-md-1">-->
                    <!--女:<input type="radio" name="gender" value="女" />-->
                <!--</div>-->

            <!--</div>-->




            <!--<div class="row">-->
                <!--<div class="col-sm-3 col-lg-2">-->
                    <!--<label >年干</label>-->
                    <!--<select  ng-model="bazi.niangan">-->
                        <!--<option value="甲" >甲</option>-->
                        <!--<option value="乙">乙</option>-->
                        <!--<option value="丙">丙</option>-->
                        <!--<option value="丁">丁</option>-->
                        <!--<option value="戊">戊</option>-->
                        <!--<option value="己">己</option>-->
                        <!--<option value="庚">庚</option>-->
                        <!--<option value="辛">辛</option>-->
                        <!--<option value="壬">壬</option>-->
                        <!--<option value="癸">癸</option>-->

                    <!--</select>-->
                <!--</div>-->


                <!--<div class="col-md-2">-->
                    <!--<label >月干</label>-->
                    <!--<select ng-model="bazi.yuegan">-->
                        <!--<option value="甲">甲</option>-->
                        <!--<option value="乙">乙</option>-->
                        <!--<option value="丙">丙</option>-->
                        <!--<option value="丁">丁</option>-->
                        <!--<option value="戊">戊</option>-->
                        <!--<option value="己">己</option>-->
                        <!--<option value="庚">庚</option>-->
                        <!--<option value="辛">辛</option>-->
                        <!--<option value="壬">壬</option>-->
                        <!--<option value="癸">癸</option>-->

                    <!--</select>-->
                <!--</div>-->

                <!--<div class="col-md-2">-->
                    <!--<label >日干</label>-->
                    <!--<select ng-model="bazi.rigan">-->
                        <!--<option value="甲">甲</option>-->
                        <!--<option value="乙">乙</option>-->
                        <!--<option value="丙">丙</option>-->
                        <!--<option value="丁">丁</option>-->
                        <!--<option value="戊">戊</option>-->
                        <!--<option value="己">己</option>-->
                        <!--<option value="庚">庚</option>-->
                        <!--<option value="辛">辛</option>-->
                        <!--<option value="壬">壬</option>-->
                        <!--<option value="癸">癸</option>-->

                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                    <!--<label >时干</label>-->
                    <!--<select ng-model="bazi.shigan">-->
                        <!--<option value="甲">甲</option>-->
                        <!--<option value="乙">乙</option>-->
                        <!--<option value="丙">丙</option>-->
                        <!--<option value="丁">丁</option>-->
                        <!--<option value="戊">戊</option>-->
                        <!--<option value="己">己</option>-->
                        <!--<option value="庚">庚</option>-->
                        <!--<option value="辛">辛</option>-->
                        <!--<option value="壬">壬</option>-->
                        <!--<option value="癸">癸</option>-->

                    <!--</select>-->
                <!--</div>-->


            <!--</div>-->
            <!--<div>-->
                <!--<label >年支</label>-->
                <!--<select ng-model="bazi.nianzhi">-->
                    <!--<option value="子">子</option>-->
                    <!--<option value="丑">丑</option>-->
                    <!--<option value="寅">寅</option>-->
                    <!--<option value="卯">卯</option>-->
                    <!--<option value="辰">辰</option>-->
                    <!--<option value="巳">巳</option>-->
                    <!--<option value="午">午</option>-->
                    <!--<option value="未">未</option>-->
                    <!--<option value="申">申</option>-->
                    <!--<option value="酉">酉</option>-->
                    <!--<option value="戌">戌</option>-->
                    <!--<option value="亥">亥</option>-->
                <!--</select>-->
                <!--<label >月支</label>-->
                <!--<select ng-model="bazi.yuezhi">-->
                    <!--<option value="子">子</option>-->
                    <!--<option value="丑">丑</option>-->
                    <!--<option value="寅">寅</option>-->
                    <!--<option value="卯">卯</option>-->
                    <!--<option value="辰">辰</option>-->
                    <!--<option value="巳">巳</option>-->
                    <!--<option value="午">午</option>-->
                    <!--<option value="未">未</option>-->
                    <!--<option value="申">申</option>-->
                    <!--<option value="酉">酉</option>-->
                    <!--<option value="戌">戌</option>-->
                    <!--<option value="亥">亥</option>-->
                <!--</select>-->
                <!--<label >日支</label>-->
                <!--<select ng-model="bazi.rizhi">-->
                    <!--<option value="子">子</option>-->
                    <!--<option value="丑">丑</option>-->
                    <!--<option value="寅">寅</option>-->
                    <!--<option value="卯">卯</option>-->
                    <!--<option value="辰">辰</option>-->
                    <!--<option value="巳">巳</option>-->
                    <!--<option value="午">午</option>-->
                    <!--<option value="未">未</option>-->
                    <!--<option value="申">申</option>-->
                    <!--<option value="酉">酉</option>-->
                    <!--<option value="戌">戌</option>-->
                    <!--<option value="亥">亥</option>-->
                <!--</select>-->
                <!--<label >时支</label>-->
                <!--<select ng-model="bazi.shizhi">-->
                    <!--<option value="子">子</option>-->
                    <!--<option value="丑">丑</option>-->
                    <!--<option value="寅">寅</option>-->
                    <!--<option value="卯">卯</option>-->
                    <!--<option value="辰">辰</option>-->
                    <!--<option value="巳">巳</option>-->
                    <!--<option value="午">午</option>-->
                    <!--<option value="未">未</option>-->
                    <!--<option value="申">申</option>-->
                    <!--<option value="酉">酉</option>-->
                    <!--<option value="戌">戌</option>-->
                    <!--<option value="亥">亥</option>-->
                <!--</select>-->

            <!--</div>-->

            <button type="submit" class="btn btn-primary">分析</button>

        </form>

        <div id="json-renderer"></div>
    </div>



</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/restangular/dist/restangular.min.js"></script>
<script src="vendor/json-viewer/jquery.json-viewer.js"></script>

<script>
    var app = angular.module('app', ['restangular']);
    app.controller('myCtrl', function($scope,Restangular) {


        $scope.bazi = {
            "gender":"男",
            "niangan":"丙",
            "nianzhi":"子",
            "yuegan":"丙",
            "yuezhi":"寅",
            "rigan":"甲",
            "rizhi":"寅",
            "shigan":"乙",
            "shizhi":"卯"
        };
        $scope.analyze=analyze;

        function analyze(){

            var rest = Restangular.all('analyze');
            rest.getList($scope.bazi).then(function(info) {

                var data =[];
                for (var i = 0; i < info.length; i++) {
                    data.push({"主题":info[i].subject,"匹配结果":info[i].analyzeResult});
                }
                $('#json-renderer').jsonViewer(data);


            });

//            var temp = $scope.bazi;
//
//// Get json-data by javascript-object
//            var data = {
//                "firstName": "Jonh",
//                "lastName": "Smith",
//                "phones": [
//                    "123-45-67",
//                    "987-65-43"
//                ]
//            };


//            alert("analyze");
        }

    });
</script>

</body>
</html>